.app {
    background-image:url('../src/assets/layered-peaks-haikei.svg') ;
    background-size: cover;
}

header {
  display: flex;
  justify-content: center;
}

.form {
	margin: 0 auto;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
  width: 270px;
}
.button-div {
  display: flex;
  justify-content: center;
}
.register-catch-btn, .close-btn, .open-overlay-btn {
    align-items: center;
    background-clip: padding-box;
    background-color: #fa6400;
    border: 1px solid transparent;
    border-radius: .25rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 1.25;
    margin: 0;
    min-height: 3rem;
    padding: calc(.875rem - 1px) calc(1.5rem - 1px);
    position: relative;
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    width: auto;
    border: 1px solid white;
    
  }
  
  .register-catch-btn:hover,
  .register-catch-btn:focus {
    background-color: #fb8332;
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  }
  
  .register-catch-btn:hover, .close-btn:hover, .open-overlay-btn:hover {
    transform: translateY(-1px);
  }
  
  .register-catch-btn:active, .close-btn:active, .open-overlay-btn:active {
    background-color: #c85000;
    box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
    transform: translateY(0);
  }

.form h3 {
	margin: 0;
}
.form .column {
	display: flex;
	flex-direction: column;
	margin-bottom: 1em;
}

.row {
	display: flex;
	flex-direction: row;
}
.flex-grow {
	flex-grow: 1;
}



.change-Info{
    background-color: aliceblue;
    border: 1px solid black;
    display: flex;
    place-items: center;
    color:black;
    /* position: fixed; */
    /* left: 30%; */
    /* top: 25%; */
    /* width: 40%; */
    height: auto;
    /* flex-direction: column; */
	flex-grow: 1;
	display: flex;
	gap: 0.65em;
}

.name-change,
.occ-change {
	flex-grow: 1;
    display:flex;
    flex-direction: column;
}



h1, h2, h3 {
    justify-content: center;
    text-align: center;
}

.nav-meny {
    text-align: center;
}

    /* margin-bottom:1em; */

    /* margin-bottom: 5px; */
/*
<section className="editForm">
<form>
	<input type='text' placeholder={employee.name} />
	<input type='text' placeholder={employee.occupation} />
</form>
</section>

{showForm && (
	<section className="change-Info">
	  <section className="name-change">
		<label>Name</label>
		<input type="text" />
	  </section>
	  <section className="occ-change">
		<label>Occupation</label>
		<input type="text" />
	  </section>
	</section>
  )}
  */

  /* Styling for navigation menu */


.navMenu {
  font-weight: 500;
}


.nav-login {
  color: #f6f4e6;
  text-transform: uppercase;
  font-weight: 500;
  width: 20px;
  margin: 7px;
  text-align: center;
  text-decoration: none;
}

.nav-login:hover {
  color: #fddb3a;
  margin: 7px;
  text-decoration: underline;
}

* {
  margin: 0;
  padding: 0;
}
.catchContainer {
  justify-content: center;
  background-color: white;
  color: black;
  opacity: 85%;
  height: 100px;
  width: 350px;
  margin: 0px;
  border-radius: 10px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  display: flex;
  align-items: center; 
  margin: 5px auto;
}


.left-side {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 1fr);
  color: orange;
  text-align: left;
}

.middle {
  display: flex;
  text-align: center; 
  color: rgb(39, 122, 161);
}

.right-side {
  text-align: right; 
  color:aqua;
}
.editDeleteButtons {
  margin-top: -70px;
  margin-right: 5px;
}


.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 1000;
  display: flex; /* Ensure children are displayed properly */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}

.overlay-content {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.button-div {
  text-align: center;
  margin-top: 20px;
}


.close-btn {
  scale: 0.6;
}